mixin empty_popup()
    .flex-column.justify-content-center.align-items-center(style="display: flex;").loading-popup-container&attributes(attributes)
        img(style="filter: grayscale(100%); width: 15rem; height: 15rem; object-fit: contain;" src="/assets/icons/empty.gif", alt="loading img")
        p.text-secondary #{__("nothing_here")}
