mixin toast
    .position-fixed.top-0.start-50.translate-middle-x.pt-3(style="z-index: 2000;")
      .toast(role='alert').hide
        .toast-body.d-flex.flex-row.justify-content-between
          p message
          button.btn-close.btn-close-white(type="button" data-bs-dismiss="toast" aria-label="Close")
