$bg-color: #07080c;
$dark-transparent: #1d1d1fb9;
$darker: #1a1a1be0;
$dark-full: #0a0a0a;
$paper-white: rgb(212, 212, 212);

$highlight-color: #393941;

$text-color: #fff;
$text-secondary-color: rgb(199, 199, 199);
$text-tertiary-color: rgb(100, 100, 100);

$side-margin: 20px;

@font-face {
    font-family: 'Lato';
    src: url(/assets/fonts/lato.ttf);
}

@mixin text-shadow {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 1px 1px 5px #1f1f1f;
}

@mixin drop-shadow {
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.3);
}

@mixin wrap-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin no-select {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@mixin background-highlight() {
    background-color: $highlight-color !important;
}

@mixin enlarge-highlight($size : 1.10) {
    transform: scale($size);
}

@mixin darken-highlight {
    filter: brightness(70%);
}

@mixin center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin font-family {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

@mixin blur-backdrop($amount : 10px) {
    /* backdrop-filter: blur($amount); */
}

// Disable blue box highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    color: $text-color;
    background-color: $bg-color !important;
    @include font-family;

    @include text-shadow;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

a {
    color: $text-color;
    cursor: pointer;

    &:hover {
        color: $text-color !important;
        @include darken-highlight;
    }
}

a, p {
    padding: 0;
    margin: 0;
}

.mono-font {
    font-family: 'monospace';
    // src: url(/assets/fonts/jetbrains_mono.ttf);
}

.clickable-text {
    color: $text-color;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        @include darken-highlight;
    }
}

.rotate {
    animation: rotate 2s ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

// Styling for dropdown menus
.dropdown-toggle::after {
    vertical-align: middle !important;
}
.dropdown-menu {
    background-color: $highlight-color!important;
    color: $text-color !important;

    @include blur-backdrop();
    text-shadow: none;

    padding: 10px;

    @include drop-shadow();

    .icon {
        margin-right: 5px;
        width: 20px;
        height: 20px;
        stroke: $text-color;
    }

    .dropdown-item {
        color: $text-color !important;

        &:hover {
            background-color: transparent !important;
            filter: brightness(70%);
        }

        &:active {
            background-color: transparent !important;
        }
    }
}

.loading-popup-container {
    width: 100%;
    height: 100%;
    text-align:center;
    filter: grayscale(100%);
    opacity: 0.7;
    padding: 10px;
}

.toast {
    background-color: $darker !important;
    border-color: $text-color;
    border-style: solid;
    border-width: 1px;
}

// Disable bootstrap focus highlight for close buttons
.btn-close {
    &:focus {
        box-shadow: none !important;
    }
}

.card-background {
    background-color: $darker;
    border-radius: 10px;
    @include drop-shadow();
    @include blur-backdrop();
}

.gradient-background {
    background: linear-gradient(
        to top,
        hsla(0, 0%, 0%, 0.708) 0%,
        hsla(0, 0%, 0%, 0.352) 30%,
        hsla(0, 0%, 0%, 0.152) 50%,
        hsla(0, 0%, 0%, 0.0) 100%
    );
}
.top-gradient-background {
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.708) 0%,
        hsla(0, 0%, 0%, 0.352) 30%,
        hsla(0, 0%, 0%, 0.152) 50%,
        hsla(0, 0%, 0%, 0.0) 100%
    );
}

// BG picker modal styling
.modal {
    @include blur-backdrop();

    .modal-content {
        background-color: $dark-transparent!important;
        color: $text-color !important;

        .bg-picker-type-icon {
            stroke: $text-color;
        }

        .bg-picker-art {
            cursor: pointer;
            padding: 5px;

            border-radius: 10px;

            img {
                border-radius: 10px;
                @include drop-shadow();
            }

            p {
                text-align: center;
            }

            &:hover {
                @include background-highlight();
            }
        }

        .bg-picker-credit {
            @include wrap-text-ellipsis();
        }

        .bg-picker-detail-download-button {
            &:hover {
                filter:brightness(100%);
            }
        }
    }
}

.nav-link.active {
    @include background-highlight();
}


.pagination {

    .page-link {
        border-radius: 0 !important;
        border: none;
        background-color: $dark-transparent !important;
        color: $text-color !important;
    }

    .page-item.active .page-link {
        background-color: $highlight-color !important;
        border-color: $text-color !important;
    }
    .page-item.disabled .page-link {
        color: $text-tertiary-color !important;
        // background-color: $highlight-color !important;
        // border-color: $text-color !important;
    }
}


hr {
    background-color: $text-color;
    opacity: 0.2;
    padding-top: 2px;
}

.gradient-hr {
    background: linear-gradient(
        45deg,
        hsla(100, 100%, 100%, 0.808) 0%,
        hsla(100, 100%, 100%, 0.252) 17%,
        hsla(100, 100%, 100%, 0) 57%,
        hsla(100, 100%, 100%, 0.0) 100%
    );
}


.text-secondary {
    color: $text-secondary-color !important;
}
.text-tertiary {
    color: $text-tertiary-color !important;
}

pre {
    @include font-family();
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: inherit;
}

.list-item {
    list-style: none;
    border-radius: 15px;

    &:hover {
        @include background-highlight();
    }
}

.grey-border {
    border-color: rgb(100, 100, 100) !important;
    border-style: solid;
    border-width: 1px;
}

.blur-backdrop {
    @include blur-backdrop();
}

.drop-shadow {
    @include drop-shadow();
}


.progress {
    background-color: transparent !important;
    .progress-bar {
        background-color: $text-color !important;
        transition: opacity .2s ease-in;
    }
}

.playlist-item {
    &:hover {
        @include enlarge-highlight(1.05);
    }

}

// Centering for pages body
.main-content {
    width: 90%;

    // Mobile layout
    @media only screen and (max-width: 576px) {
        width: 100%;
    }
}

// styling for the scrollbar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $dark-transparent;
}
::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 50px;
}


/* animations for the crossfade */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
