.controls {
    #volume-button {
        position: relative;
        transform: scale(1.1);

        .slidecontainer {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;

            padding: 0;
            margin: 0;

            /* The slider itself */
            .slider {
                position: absolute;
                left: 0;
                bottom: 10px;
                width: 100%;

                padding: 0;
                margin: 0;

                -webkit-appearance: slider-vertical;  /* Override default CSS styles */
                -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                transition: opacity .2s;
            }
        }
    }

    #loop-button.rotate {
        animation: rotate 2s ease-in-out;
        animation-direction: reverse;
        animation-iteration-count: infinite;
    }

    #loop-counter {
        text-align: center;
        display: block;
    }
}
