#middle-container {
    .track-details{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #video-player {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #chat-window-container {
            $children-width: 95%;
            $font-size: 80%;

            background-color: $darker;

            @include drop-shadow;

            #chat-window-header {
                .clickable-text {
                    color: $text-secondary-color !important;
                }

                #chat-window-header-info-container {
                    #chat-window-header-listener-count {
                        font-size: 100%;
                        font-weight: bold;

                        @include wrap-text-ellipsis;
                    }

                    #chat-window-header-expand-button {
                        width: 10%;

                        &:hover {
                            @include darken-highlight;
                        }

                        svg {
                            width: 50%;
                            path {
                                stroke: $text-color;
                                fill: none;
                            }
                        }
                    }
                }

                #chat-window-header-username {
                    font-size: $font-size;
                    @include wrap-text-ellipsis;

                    color: $text-secondary-color;
                }

                #popular-song-info-container-chat-header {
                    font-size: $font-size;

                    color: $text-secondary-color;

                    #popular-song-link-chat-header {
                        color: $text-secondary-color;
                    }
                }
            }

            #message-area {
                overflow: auto;
                overflow-x: hidden;

                .message-system {
                    opacity: 50%;
                    font-weight: thin;
                    color: $text-tertiary-color;
                }

                .message-container {
                    .message-username {
                        font-weight: bold;
                    }

                    .message-separator {
                        display: none;
                    }

                    .message-text {
                        color: $text-secondary-color;
                        word-wrap: break-word;
                        overflow-wrap: break-word;
                    }
                }
            }

            // #message-input-area {
            //     border: solid;
            //     border-width: 0.1px;
            //     border-left: none;
            //     border-right: none;
            //     border-bottom: none;

            //     input {
            //         background-color: rgba(0, 0, 0, 0); 
            //         border: none;

            //         color: $text-color;
            //         @include font-family;
            //         font-size: 1rem;

            //         outline: none;

            //         &::placeholder {
            //             color: $text-tertiary-color;
            //         }
            //     }

                // button {
                    // transform: rotate(-90deg);
                    // margin: 0;

                    // &:hover {
                    //     @include darken-highlight;
                    // }

                    // svg {
                    //     height: 40%;

                    //     path {
                    //         stroke: $text-color;
                    //         fill: none;
                    //     }
                    // }
                // }
            // }
        }
}