/* Styling for SweetAlert2 popups */
.swal2-title, .swal2-html-container {
    /* use !important to say no to js changing stuff it seems */
    color: $text-color !important;
}

.swal2-input {
    outline: none;
    @include font-family;
    color: $text-color !important;

    &:focus {
        border-color: inherit !important;
        box-shadow: none !important;
    }

    &::placeholder {
        color: $text-tertiary-color !important;
    }
}

.swal-button {
    font-size: large;
    transition: transform .2s;

    color: $text-color !important;
    @include font-family;

    &:hover {
        @include darken-highlight;
    }

    padding-left: 20px;
    padding-right: 20px;
}

.swal-button-cancel {
    transition: transform .2s;

    color: $text-tertiary-color !important;
    @include font-family;

    &:hover {
        @include darken-highlight;
    }

    padding-left: 20px;
    padding-right: 20px;
}
