.dimmer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;

    background-color: #000000a9;

    z-index: -1; 

    @include no-select;

    transition: opacity 1s;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
}

.wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;

    z-index: -3; 

    @include no-select;

    transition: opacity 2s;
}

#triple-tap-area {
    display: none;

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);

    height: 70vh;
    width: 100vw;
}
