doctype html

include partials/uboa
include partials/nav
include partials/head
include partials/wallpaper
+uboa

- var meta_title
+head(`Hotkeys / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    .container-fluid.mt-4.text-center
        .row.justify-content-center.align-items-center.m-0
            .col.col-md-6.card-background.p-5.mb-5
                h3 Hotkeys

                hr

                div.text-start.my-4
                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Pause/Unpause
                        p (Space / Down Arrow / k)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Play the next song
                        p (Right Arrow / l)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Play the previous song
                        p (Left Arrow / j)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Hide/Unhide player
                        p (h / Up Arrow)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Mute/Unmute
                        p (m)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Repeat song
                        p (r)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Toggle fullscreen
                        p (f)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Change background art
                        p (g)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Copy the shareable link for the current track
                        p (c)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Search
                        p (s)

                    .d-flex.flex-row.justify-content-between.align-items-center
                        p Open background art picker
                        p (p)

// Bootstrap
script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
