doctype html

include partials/nav
include partials/toast
include partials/wallpaper
include partials/head
include partials/uboa
+uboa

- var meta_title
+head(`${__("register_header")} / ${meta_title}`)

body
    +nav(false)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    +toast

    .container-fluid.mt-4.text-center#app
        .row.justify-content-center.align-items-center.m-0
            .col.col-md-8.card-background.p-5.mb-5
                .container-fluid.p-0
                    .row.justify-content-center.align-items-center.m-0
                        .col-sm.text-start
                            h1.mb-4.fw-bold #{__("register_header")}

                            form(@submit.prevent="register")
                                .input-group.flex-column.text-start
                                    h6 #{__("register_username")}
                                    input(type="text" v-model="username" required pattern="^[a-zA-Z0-9_-]{1,32}$" placeholder=__("register_username_placeholder") name="username").form-control.w-100.rounded

                                    h6.mt-3 #{__("register_password")}
                                    input(type="password" v-model="password" required minlength="5" placeholder=__("register_password_placeholder") name="password").form-control.w-100.rounded

                                    h6.mt-3 #{__("register_email")}
                                    input(type="text" v-model="email" placeholder=__("register_email") name="email").form-control.w-100.rounded

                                    div
                                        button.round-button.py-2.w-100.mt-5.fw-bold(type="submit") #{__("register_submit")}

                        .col-sm.mt-5.mt-sm-0.px-3
                            img.img-fluid(src="/assets/icons/logo.png" style="height: 6rem;")
                            p.mt-3 #{__("register_text")}

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

script(type="module" src="/js/register.js")
